::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    display: none;
}

/deep/ .custom-calendar.vc-container {
    --day-border: 1px solid #ccc;
    --day-border-highlight: 1px solid #b8c2cc;
    --day-width: 90px;
    --day-height: 90px;
    --weekday-bg: #f8fafc;
    --weekday-border: 1px solid #eaeaea;
    border-bottom: 0;

    border-radius: 0;
    width: 100%;

    & .vc-header {
        background-color: #f1f5f8;
        padding: 10px 0;
        padding-left: 10px;
    }

    .is-today {
        background-color: rgb(215, 221, 250) !important;
    }

    & .vc-weeks {
        padding: 0;

        &>div:nth-last-of-type(-n+14) {
            // border-bottom: 0;
        }

        &>div:nth-last-of-type(-n+7) {
            display: none;
        }
    }

    & .vc-weekday {
        background-color: var(--weekday-bg);
        border-bottom: var(--weekday-border);
        border-top: var(--weekday-border);
        padding: 5px 0;
        color: #666;
        line-height: 24px;
    }

    & .vc-day {
        padding: 0 5px 3px 5px;
        text-align: left;
        min-width: var(--day-width);
        background-color: #efefef;
        padding: 10px;
        min-height: 80px;

        &.weekday-1,
        &.weekday-7 {
            background-color: #eff8ff;
        }

        &:not(.on-bottom) {
            border-bottom: var(--day-border);

            &.weekday-1 {
                border-bottom: var(--day-border-highlight);
            }
        }

        &:not(.on-right) {
            border-right: var(--day-border);
        }
    }

    .vc-day.is-not-in-month {
        // &.week-1 {
        //     display: none;
        // }
    }


    & .vc-day-dots {
        margin-bottom: 5px;
    }
}